{% extends 'base.html' %}
{% block title %}
market page
{% endblock %}
{% block content %}
<div class="row" style="margin-top: 20px; margin-left: 20px;">
   <div class="col-8">
    <h2>Available items on the market</h2>
    <p>Click on one of the item to start buyig</p>
    <br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <!--columns here-->
               <th scope="col">ID</th>
               <th scope="col">NAME</th>
               <th scope="col">PRICE</th>
               <th scope="col">OPTIONS</th>
            </tr>
         </thead>
         <tbody>
            <!--rows here-->
            {% for item in items %}
            <tr>
               <td>{{item.id}}</td>
               <td>{{item.name}}</td>
               <td>$ {{item.price}}</td>
               <td>
                  <button class="btn btn-outline btn-info">More info</button>
                  <button class="btn btn-outline btn-success">Purchase this item</button>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
    <div>

    </div class="col-4">
      <h2>Owned items on the market</h2>
      <p>Click on sell item back on  the market</p>
      <br>
      
    </div>

</div>
{% endblock %}