{% extends 'base.html' %}
{% block title %}
 Register page
{% endblock %}

{% block content %}
  <div class='container'>
    <form method="POST" class="form-register" style="color:aliceblue;">
        <img class="mb-4" src="D:\Flask-Web-development\register_background.avif" alt="Register Image">
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="user Name") }}

        {{ form.email_address.label() }}
        {{ form.email_address(class="form-control", placeholder="Email Address") }}

        {{ form.password1.label() }}
        {{ form.password1(class="form-control", placeholder="Password") }}

        {{ form.password2.label()}}
        {{ form.password2(class="form-control", placeholder="Conform Password")}}


     </form>

  </div>
  

{% endblock %}
